body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(135deg, #1e3a8a, #3b82f6);
    min-height: 100vh;     
    color: white;
    font-family: "Open Sans", sans-serif

}

button{
    background-color: #C80815;
    color: white;
    border: none;
    padding: 1rem 3rem;
    font-size: 3rem;
    border-radius: 2rem;
    cursor: pointer;
    font-family: inherit;
    transition: all 0.50s ease;
    margin-top: 7em;
}

h1 {
    margin-bottom: 0;
    font-size: 6rem;
    letter-spacing: 1.5rem;
    word-spacing: 2rem;
    animation: float 2.5s ease-in-out infinite;
    text-shadow: 0px 0px 75px gold;
    color: white;
    filter: brightness(2.5);
    font-weight: bold;
    -webkit-text-stroke: .05em black;
    text-stroke: .25em black   
}

p {
    margin-bottom: 0;
    font-size: 3rem;
    word-spacing: 1rem;
    color: white;
    animation: float 2.5s ease-in-out infinite;
    letter-spacing: 1rem;
    filter: brightness(2.5);
    font-weight: bold;
    text-shadow: 0px 0px 60px gold;
}

@keyframes float{
    0% {
        transform: translateY(-2.5px) scale(1.1);
    }
    50% {
        transform: translateY(-5px);
    }
    100% {
        transform: translateY(-2.5px) scale(1.1);
    }
  
}

@media (max-width: 844px) {
    h1{
        font-size: 3rem;
        text-align: center;
    }
    p{
        font-size: 1.5rem;
        text-align: center;
    }
    button {
        font-size: 1.5rem;
    }
    body{
        padding-left: 20px;
        padding-right: 20px;
    }
}

button:hover {
    transform: scale(1.3) translateY(1rem) rotate(3deg);
    box-shadow: 0px 0px 60px rgba(214, 31, 38,0.7);
    background-color: #ef2a32;
}